.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
 
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  
  .col-50,
  .col-75 {
    top: 50%;
    left: 50%;
    padding: 50px 110px;
  }
  
  .container {
    background-color: #a5a0a0;
    padding: 5px 20px 15px 40px;
    border: 1px solid rgb(10, 9, 9);
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 40%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 3px;
  }
  select[type=text] {
    width: 40%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 3px;
  }
  input[type=number] {
    width: 40%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  } 
  .btn {
    background-color: #0c0c0c;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: black;
    width: 20%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #7d817d;
  }
 